body{
    background-color: hsl(0, 100%, 74%);
    background-image: url('../formulario-assinatura-trial-HTML-CSS-JS/images/bg-intro-desktop.png');
    font-family: 'Poppins', sans-serif;
    Font-size: 16px;
}
.imagem_de_fundo{
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 1;
    overflow:visible
}
.formulario{
    display: grid;
    position: relative;
    justify-content: stretch;
    z-index: 2;
    align-items: center;
    margin: 50px auto auto auto;
    grid-template-columns: 50% 50%;
    width: 800px;
    height: 500px;
}
.formulario__descricao{
    margin: 20px;
    align-items: center;
}
.formulario__titulo{
    color: #ffffff;
    font-weight: 700;
    font-size: 38px;
}
.formulario__texto{
    color: #ffffff;
    font-weight: 400;
    font-size: 12px;
    padding-top: 30px;
}
.preco{
    background-color: hsl(248, 32%, 49%) ;
    justify-content: center;
    border-radius: 10px;
    font-size: 12px;
    color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    -webkit-box-shadow: 0px 7px 0px 0px rgba(0,0,0,0.4); 
    box-shadow: 0px 7px 0px 0px rgba(0,0,0,0.2);
}
.strong{
    font-weight: 600;
}
.formulario__completo{
    display: grid;
    justify-content: center;
    justify-content: space-evenly;
    background-color: #ffffff;
    border: 0px solid #ffffff;
    border-radius: 10px;
    height: 350px;
    font-weight: 400;
    font-size: 12px;
    padding: 30px 20px 20px 20px;
    text-align: right;
    color: #ffffff;
}
.formulario_campo{
    border: 1px solid gray;
    width: 300px;
    border-radius: 5px;
    justify-content: stretch;
    display: block;
    padding: 12px;
}
.formulario_campo.sucess i.icone_ok{
    color: #2ecc71;
	visibility: visible;
}
.formulario_campo .error{
    color: #e74c3c;
	visibility: visible;
}
.formulario_completo small{
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}
.formulario_completo .error small{
	visibility: visible;
}
.formulario__erro{
    background-image: url("../images/icon-error.svg");
    background-repeat: no-repeat;
    background-position: right;
    border-color: hsl(0, 100%, 74%);
    background-position-x: 95%;
    margin-bottom: 3px;
}
.mostrar_erro{
    color: hsl(0, 100%, 74%);
}
.formulario_campo input:focus{
    outline: 0;
	border-color: hsl(248, 32%, 49%);
} 
.formulario__botao{
    background-color:  hsl(154, 59%, 51%);
    width: -webkit-fill-available;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    padding: 12px;
    margin-bottom: 15px;
    -webkit-box-shadow: 0px 7px 0px 0px rgba(24, 124, 69, 0.4); 
    box-shadow: 0px 7px 0px 0px rgba(33, 172, 96, 0.644);
}
.disclaimer{
    display: flex;
    justify-content: center;
    font-size: 8px;
    color: gray;
}
.disclaimer a{
    color: hsl(0, 100%, 74%);
    font-weight: 600;
    margin-left: 2px;
}
.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
